

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    color: black;
}

a {
    text-decoration: none !important;
    color: black;
}

    a:hover {
        color: unset;
        text-decoration: unset;
    }

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.fun-font {
    font-family: 'Reenie Beanie', sans-serif !important;
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-dark .navbar-brand {
    /* USED TO CHANGE NAVBAR HEADER  */
}

.navbar-dark .navbar-nav .nav-link {
    /* USED TO CHANGE ABOUT US LINK COLOR */
}

    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
        /* USED TO CHANGE FIRST CORKBOARD LINK */
    }

.navbar {
    padding: .5rem 2rem;
}

.inner-wrapper {
    flex: 2;
    display: grid;
    grid-template-columns: minmax(0,250px) 3fr;
    grid-template-rows: 100%;
}



.sidebar {
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background: url(/img/corkboard.jpg);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(54, 54, 54, 0.7); */
}

    .heading h1 {
        font-size: 3em;
        font-weight: bolder;
        min-width: 100%
    }

    .heading a {
        text-align: center;
        min-width: 100%;
        color: black;
    }

        .heading a:hover {
            border-bottom: #fff solid 3px;
            background: rgba(197, 177, 177, 0.7);
        }

.links {
    flex: 2;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .links h2 {
        font-size: 2em;
        font-weight: bold;
    }

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
    font-weight: bold;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    font-size: 1em;
    height: 10em;
    width: 10em;
    padding: 1em;
}

.links a {
    color: #000 !important;
}

    .links a:hover, .links a:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(1.25);
        position: relative;
        z-index: 5;
        transition: transform .3s linear;
    }

.first {
    transform: rotate(6deg);
    position: relative;
    top: 5px;
    background: rgb(214, 135, 135);
}

.second {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: rgb(166, 230, 107);
}

.third {
    transform: rotate(8deg);
    position: relative;
    top: -10px;
    background: rgb(106, 231, 225);
}

.fourth {
    transform: rotate(-8deg);
    position: relative;
    top: -10px;
    background: rgb(236, 207, 110)
}

.Main-section {
    position: relative;
}

.tac {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    left: 0;
}

.tac2 {
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 0;
    left: 0;
}





.main-content {
    max-height: 100%;
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(0, 200px);
    background: url(/img/Paper.png) center center no-repeat;
    background-size: cover;
}


.note-board {
    background-image: url(/img/corkboard.jpg);
    grid-area: 2/1/3/3;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: auto;
}

    .note-board h2 {
        font-family: 'Reenie Beanie';
        font-size: 35px;
        font-weight: bold;
    }

.sticky-notes {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.note-board ul li {
    margin: 1em;
}

    .note-board ul li a {
        text-decoration: none;
        color: #000;
        background: rgb(226, 201, 120);
        display: block;
        height: 10em;
        width: 10em;
        padding: 1em;
        border-radius: 8px;
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        transform: rotate(-6deg);
        overflow: auto;
        transition: transform .20s linear;
    }

.sticky-notes ul li:nth-child(even) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
}

.sticky-notes {
    max-width: 100%;
}

    .sticky-notes li:nth-child(3n) a {
        transform: rotate(-3deg);
        position: relative;
        top: -5px;
    }

    .sticky-notes li:nth-child(5n) a {
        transform: rotate(5deg);
        position: relative;
        top: -10px;
    }

    .sticky-notes li a:hover, ul li a:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(1.10);
        position: relative;
        z-index: 5;
    }

    .sticky-notes li:nth-child(even) a {
        position: relative;
        top: 5px;
        background: rgb(166, 230, 107);
    }

    .sticky-notes li:nth-child(3n) a {
        position: relative;
        top: -5px;
        background: rgb(120, 224, 219);
    }

    .sticky-notes p {
        font-family: 'Reenie Beanie';
        font-size: 1.5rem;
    }

@media only screen and (max-width:2000px) {

    .nine {
        display: none;
    }
}

@media only screen and (max-width:1950px) {

    .eight {
        display: none;
    }
}

@media only screen and (max-width:1650px) {

    .seven {
        display: none;
    }
}

@media only screen and (max-width:1450px) {

    .six {
        display: none;
    }
}

@media only screen and (max-width:1250px) {

    .five, .four {
        display: none;
    }
}

@media only screen and (max-width:1450px) {

    .six {
        display: none;
    }
}

@media only screen and (max-width:830px) {
    .three {
        display: none;
    }
}

@media only screen and (max-width:650px) {
    .two, .one {
        display: none;
    }
}

@media only screen and (max-width:400px) {
}
