body {
    background: url(/img/corkboard.jpg);
}
.Main-Content {
    background: url(/img/corkboard.jpg);
}
.innerContainer {
    padding: 10px;
    overflow: auto;
    grid-area: Main-Content;
    height: 98%;
    overflow: auto;
    margin: 10px;
    background: url(/img/paper.png) center center/cover no-repeat;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 5px;
    grid-template-areas:
        "SideContent SideContent SideContent SideContent Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2"
        "SideContent SideContent SideContent SideContent Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2"
        "SideContent SideContent SideContent SideContent Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2"
        "SideContent SideContent SideContent SideContent Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2"
        "SideContent SideContent SideContent SideContent Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2"
        "SideContent SideContent SideContent SideContent FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace"
        "SideContent SideContent SideContent SideContent Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3"
        "SideContent SideContent SideContent SideContent Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3"
        "SideContent SideContent SideContent SideContent Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3"
        "SideContent SideContent SideContent SideContent Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3"
        "SideContent SideContent SideContent SideContent Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3"
        "StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes";
}
/* Side Table Styling */
.SideContent {
    grid-area: SideContent;
    display: grid;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "NoteBody";
    background: rgb(115, 171, 224);
    box-shadow: 10px 5px 5px rgb(10, 90, 166,.4);
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    overflow: auto;
    position: relative;
}

.noteHeaderContainer {
    grid-area: header;
    display: grid;
    position: relative;
    position: sticky;
    top: 0;
    background: rgb(82, 155, 224);
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-areas: "left middle right";
}

.noteBodyContainer {
    grid-area: NoteBody;
    overflow: auto;
}

.noteHeaderContainer h2 {
    grid-area: middle;
    padding-top: 3px;
}

.noteHeaderContainer span {
    padding: 5px;
}

.noteBox {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "titleLeftCol titleRightCol"
        "noteLeftCol noteRightCol";
    margin: 0 auto;
    border: 1px solid black;
    width: 95%;
    min-height: fit-content;
    max-height: 100px;
    margin-top: 1.5px;
    margin-bottom: 8px;
    overflow: auto;
}

.noteTitle {
    padding-left: 5px;
    grid-area: titleLeftCol;
}

.noteBody {
    padding-left: 5px;
    grid-area: noteLeftCol;
}

.noteTitleText {
    padding-left: 5px;
    text-align: left;
    grid-area: titleRightCol;
}

.noteBodyText {
    padding-left: 5px;
    text-align: left;
    grid-area: noteRightCol;
}

.noteBox:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.noteBox:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* Main box styling */
.Box {
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    display: flex;
    flex-direction: column;
}

    .box::-webkit-scrollbar {
        width: 10px;
        background: rgb(52, 52, 245);
    }

.top-box {
    display: flex;
    flex: 1;
    padding: 5px 20px;
    justify-content: space-between;
}

.bottom-box {
    overflow: auto;
    flex: 3;
    display: flex;
    justify-content: center;
}

th, td {
    padding: 5px;
    border-bottom: black solid 1px;
    text-align: center;
}

.bottom-box table {
    border-collapse: collapse;
    padding: 5px;
    border: black solid 2px;
    overflow: auto;
    width: 100%;
}

.Box1 {
    grid-area: Box1;
    background: rgb(180, 30, 30);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 8px 8px 5px rgb(135, 12, 12,.9);
}

.Box2 {
    grid-area: Box2;
    background: rgb(120, 224, 219);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 8px 8px 5px rgb(10, 145, 138, .9);
}

.Box4 {
    grid-area: Box4;
    background: rgb(226, 201, 120);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 10px 8px 5px rgb(214, 170, 26, .8);
}

.Box3 {
    grid-area: Box3;
    background: rgb(166, 230, 107);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 10px 8px 5px rgb(65, 110, 23, .9);
}
/*Scrollbar styling */
.noteBodyContainer::-webkit-scrollbar {
    width: 15px;
}

.noteBodyContainer::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

.noteBodyContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
.innerContainer::-webkit-scrollbar {
    width: 15px;
}

.innerContainer::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

.innerContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
.noteBox::-webkit-scrollbar {
    width: 15px;
}

.noteBox::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

.noteBox::-webkit-scrollbar-track {
    background-color: transparent;
}

.bottom-box::-webkit-scrollbar {
    width: 15px;
}

.bottom-box::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}
.bottom-box::-webkit-scrollbar-corner{
    background: transparent;
}

.bottom-box::-webkit-scrollbar-track {
    background-color: transparent;
}
/*  Scrollin gtext styling */
.FreeSpace {
    grid-area: FreeSpace;
}


.StickyNotes {
    grid-area: StickyNotes;
    border-radius: 20px;
    display: flex;
    color: rgb(7, 7, 7);
    align-items: center;
    margin: 5px;
}


/* Media Queries */

@media only screen and (max-width:800px) {
    .SideContent {
        display: none;
    }

    .innerContainer {
        grid-template-areas:
            "Box1 Box1 Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2"
            "Box1 Box1 Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2"
            "Box1 Box1 Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2"
            "Box1 Box1 Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2"
            "Box1 Box1 Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2"
            "FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace FreeSpace"
            "Box4 Box4 Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3 Box3 Box3"
            "Box4 Box4 Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3 Box3 Box3"
            "Box4 Box4 Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3 Box3 Box3"
            "Box4 Box4 Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3 Box3 Box3"
            "Box4 Box4 Box4 Box4 Box4 Box4 Box3 Box3 Box3 Box3 Box3 Box3"
            "StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes StickyNotes";
    }
}

@media only screen and (max-width:550px) {
    .StickyNotes {
        display: none;
    }

    .FreeSpace {
        display: none;
    }

    .innerContainer {
        display: flex;
        flex-direction: column;
    }

    .Box {
        min-height: 200px;
    }
}
