


.Main-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px 10px;
}

.left-section {
    grid-area: 1/1/2/2;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 5px 0;
}

.right-section {
    grid-area: 1/2/2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.todo-list {
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(115, 171, 224);
    box-shadow: 10px 5px 5px rgb(10, 90, 166);
}

.todo-list table {
    background: rgb(161, 195, 230);
    width: 90%;
}

th, tr, td {
    padding: 5px;
    border: black solid 1px;
    text-align: center;
}

table {
    padding: 5px;
    border: black solid 2px;
    overflow: auto;
    max-width: 100%;
    max-height: 90%;
}

.insideBottom::-webkit-scrollbar {
    width: 15px;
}

.insideBottom::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}
.insideBottom::-webkit-scrollbar-track {
    background-color: transparent;
}
.ticket-table {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-radius: 8px;
    padding-top: 20px;
}

.top-boxes, .bottom-boxes{
    flex: 1;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.box4-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 10px;
    max-height: 300px;
    /*box-shadow: 10px 10px 7px rgba(0,0,0,.7);*/
    
}

.box4-1 table {
    width: 90%;
    max-height: 90%;
}

#ticket-id {
    width: 10px;
}

.insideTop {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.insideBottom {
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

    .insideBottom h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 3em;
        height: 3em;
        margin: 0 auto;
        border-radius: 8px;
        background: #fff;
    }

.urgent {
    background: rgb(180, 30, 30);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 8px 8px 5px rgb(135, 12, 12,.9);
    
}

.box-two {
    background: rgb(120, 224, 219);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 8px 8px 5px rgb(10, 145, 138, .9);
}

.box-three {
    background: rgb(166, 230, 107);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 10px 8px 5px rgb(65, 110, 23, .9);
}

.box-four {
    background: rgb(226, 201, 120);
    /* ReSharper disable once UnexpectedValue */
    box-shadow: 10px 8px 5px rgb(214, 170, 26, .8);
}
/*Scroll bar styling*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2cec8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0ee63d;
}

@media only screen and (max-width:850px) {

    .Main-section {
        display: unset;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
    }
}
