* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: black;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}


.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.top-navbar {
    max-height: 70px;
    display: grid;
    grid-template-columns: 1fr 4fr .2fr;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    background: url( /images/corkboard.jpg);
}

.profile-pic img {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    image-rendering: auto;
}



.search-bar {
    width: 50em;
    height: 25px;
    padding: 10px 15px;
    border-radius: 10px;
}

.logo img {
    width: 150px;
}


main {
    background: rgb(41, 41, 41);
    display: flex;
    flex: 2;
}

.sidebar {
    background-image: url(/images/corkboard.jpg);
    background-size: cover;
    padding: 0 30px;
    display: flex;
    flex-direction:column;
    

}

    .sidebar h2 {
        font-family: 'Reenie Beanie';
        font-size: 50px;
        font-weight: bold;
        text-transform: capitalize;
    }



.heading:hover {
    border-bottom: solid black 3px;
}

.sidebar-links {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.sidebar li {
    
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: .5em;
   transform: rotate(-6deg);
}

.sidebar a {
    font-weight: bold;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    font-size: 1em;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
}

.sidebar ul li:nth-child(even) a {
    transform: rotate(6deg);
    position: relative;
    top: 5px;
}

.sidebar ul li:nth-child(1n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
}

.sidebar ul li:nth-child(2n) a {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

.sidebar ul li a:hover, ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.L1 {
    background: rgb(236, 207, 110)
}

.L2 {
    background: rgb(214, 135, 135);
}

.L3 {
    background: rgb(166, 230, 107);
}

.L4 {
    background: rgb(106, 231, 225);
}

.heading {
    margin: 15px auto;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

table {
    overflow: scroll;
    width: 400px;
    background: rgb(58, 58, 57);
    border: 1px solid #1e1f1e;
}
table th {
    text-align:center;
}

.top-content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.display-bar {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    

}

    .display-bar h3, p {
        font-weight: bolder;
        font-size: 20px;
        color: rgb(27, 61, 155);
    }



.main-content {
    flex: 2;
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.ticket-assigned {
    min-width: 100%;
    position: relative;
    grid-area: 1/1/3/4;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

#table-scroll {
    height: 500px;
    overflow: auto;
    margin-top: 20px;
}

.box4 {
    grid-area: 1/4/3/8;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
}

.box4 h1,h3{
    text-align:center;
}

.box4-1 {
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.9);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insideTop {
    flex: 1;
}

.insideBottom {
    flex: 2;
}
    .insideBottom h1 {
        background: rgb(219, 218, 218);
        border-radius: 8px;
        max-width: fit-content;
        font-size: 80px;
        box-shadow: 5px 5px 7px rgba(33,33,33,.8);
    }





.urgent {
    background: rgba(212, 43, 43, 0.808) !important;
}

.reg {
    background: rgba(18, 163, 207, 0.432);
}


.note-board {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    background-image: url(/images/corkboard.jpg);
}

    .note-board h2 {
        font-family: 'Reenie Beanie';
        font-size: 35px;
        font-weight: bold;
    }

.note-board ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
}

    .note-board ul li {
        margin: 1em;
    }

        .note-board ul li a {
            text-decoration: none;
            color: #000;
            background: rgb(226, 201, 120);
            display: block;
            height: 10em;
            width: 10em;
            padding: 1em;
            border-radius: 8px;
            box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            transform: rotate(-6deg);
            transition: transform .20s linear;
        }

        .note-board ul li:nth-child(even) a {
            transform: rotate(4deg);
            position: relative;
            top: 5px;
        }

        .note-board ul li:nth-child(3n) a {
            transform: rotate(-3deg);
            position: relative;
            top: -5px;
        }

        .note-board ul li:nth-child(5n) a {
            transform: rotate(5deg);
            position: relative;
            top: -10px;
        }

        .note-board ul li a:hover, ul li a:focus {
            box-shadow: 10px 10px 7px rgba(0,0,0,.7);
            transform: scale(1.10);
            position: relative;
            z-index: 5;
        }

        .note-board ul li:nth-child(even) a {
            position: relative;
            top: 5px;
            background: rgb(166, 230, 107);
        }

        .note-board ul li:nth-child(3n) a {
            position: relative;
            top: -5px;
            background: rgb(120, 224, 219);
        }

    .note-board p {
        font-family: 'Reenie Beanie';
        font-size: 1.5rem;
    }



table, th, td {
    border: 1px solid black;
    
}

.ticket-table {
    border: black solid 2px;
}



