* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: lightseagreen;
}

.body-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    box-shadow: 12px 12px 2px 1px rgba(55, 55, 59, 0.2);
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputbox {
    text-align: center;
    margin: 5px 0;
}

input {
    padding: 5px;
    color: black;
}
.link-text {
    text-align: center;
    display: flex;
    justify-content: center;
}
.dropdown {
    width: 100%;
}
a {
    text-decoration: none;
    padding-top: 5px;
}

.top-input {
    margin-bottom: 2px;
}

.submit {
    width: 100%;
    color: black;
}

.submit:hover {
    background: lightgreen;
}