

.Main-section {
    overflow: auto;
    max-height: 600px;
}
.tac {
    position: sticky;
}
.tac2 {
    display: none;
}
.sidebar {
    position: sticky;
}

.table thread th {
    border-bottom: black;
    position: sticky;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 2px solid #0a0a0a;
    background: lightgray;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background: lightgray;
}

.table {
    overflow: auto;
}
