@using Insectic.InsecticData

@{
    Layout = "_InsecticDefault";
}

@section LinkOne
{
    <link rel="stylesheet" href="/css/AddressBook.css">
}
@section LinkTwo
{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


@section Title
{AddressBook}

@{
    foreach (var user in UserApiRepository.GetAllUsers())
    {
        <div class="profile">
            <h3 class="name">@user.FirstName @user.LastName[1].ToString().ToUpper() .</h3>
            <div class=image>
                <p><img src="@user.ProfilePicture" alt=""></p>
            </div>
            <div class="bottom-profile">
                <div class="role">
                    <h6>@user.UserRoles</h6>
                </div>
                <div class="contact-info">
                    <i class="material-icons">developer_mode</i>
                </div>
                <div class=email><a href=@($"Mailto:{user.Email}")><i class="material-icons">contact_mail</i></a></div>
            </div>
        </div>
    }
}

