
@{
    Layout = "_InsecticDefault";
}

@section LinkOne
{
    <link rel="stylesheet" href="/css/AddressBookt.css">
}

@section Title
{AddressBook}

<div class="profile">
    <h3 class="name">Insert Name</h3>
    <div class=image>
        <p><img src="https://source.unsplash.com/random" alt=""></p>
    </div>
    <div class="bottom-profile">
        <div class="role">
            <h6>Department Manager</h6>
        </div>
        <div class="contact-info">
            <p>Work: 860-578-6672</p>
        </div>
        <div class=email><a href="mailto:INSERTEMAILHERE.com">Email</a></div>
    </div>
</div>