

@model Insectic.Models.TicketForm

@{
    Layout = "_InsecticDefault";

}


@section LinkOne
{
    <link rel="stylesheet" href="/css/CreateTickets.css">
}

@section Title
{Create Ticket}


<form action="">
    <div>
        <h1>Create A Ticket</h1>
    </div>
    <div class="first-row row">
        <div>
            <label for="BugCategory">BugCategory</label>
            <select>
                <option value="0">Bug Category</option>
                <option value="1">Functionality Error</option>
                <option value="2">Logic Error</option>
                <option value="3">Syntactic Error</option>
                <option value="4">Error Handling Error</option>
                <option value="5">Calculation Error</option>
                <option value="6">Security Defect</option>
            </select>
        </div>
        <div class=custom-button>
            <label for="Priority">Priority</label>
            <select name="Priority" id="Priority">
                <option value="0">Priority</option>
                <option value="1">Urgent</option>
                <option value="2">High</option>
                <option value="3">Routine</option>
                <option value="4">Low</option>
            </select>
        </div>
        <div>
            <label for="IncidentDate">Incident Date</label>
            <input type="datetime-local" id="IncidentDate" name="IncidentDate">
        </div>
        <div class="custom-button">
            <label for="CurrentStatus">CurrentStatus</label>
            <select name="CurrentStatus" id="CurrentStatus">
                <option value="0">Current Status</option>
                <option value="1">Awtg Assignment</option>
                <option value="2">In Progress</option>
                <option value="3">Pending Closure</option>
                <option value="4">Close</option>
            </select>
        </div>
    </div>

    <div class="second-row row">
        <div class="custom-button">
            <label for="CurrentStatus">Current Status</label>
            <select name="CurrentStatus" id="CurrentStatus">
                <option value="0">Current Status</option>
                <option value="1">Awtg Assignment</option>
                <option value="2">In Progress</option>
                <option value="3">Pending Closure</option>
                <option value="4">Close</option>
            </select>
        </div>

        <div>
            <label for="DueDate">Due Date</label>
            <input type="datetime-local" id="DueDate" name="DueDate">
        </div>

        <div>
            <label for="PhoneNumber">Contact Number</label>
            <input type="tel" id="PhoneNumer" name="PhoneNumber" placeholder="123-456-7890"
                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>

        <div>
            <label for="Email">Email</label>
            <input type="email" name="Email" id="Email" placeholder="work Email addresss">
        </div>
    </div>
    <div class="third-row">
        <label for="TicketDescription">Ticket Description:</label>
        <textarea name="TicketDescription" cols="105" rows="10"
                  placeholder="Please enter detailed account of current issue and actions already taken."></textarea>
        <input type="submit" class="submit-button">
    </div>

</form>