@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="js" href="/js/site.js">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet" />

    <title>Dashboard</title>
</head>

<body>
    <div class="wrapper">
        <!--Splitting the page into two halfs utilizing flex.-->

        <nav class="top-navbar">
            <!--Top nav bar flex bow-->
            <div class="logo"><a href="#"> <img src="/img/cropedlogo2.png" alt="logo"> </a></div>
            <form action="">
                <input class="search-bar" type="search" placeholder="Search">
            </form>
            @*<div class="profile-pic"><a href="#"><img src="/img/avatar.jpg" alt="Avatar"></a></div>*@
        </nav>

        <main>

            <div class="sidebar">
                <!--Flex box into two rows -->
                <div class="heading">
                    <a href="#">
                        <h1>Cork Board</h1>
                    </a>
                </div>
                <ul class="sidebar-links">
                    <li>
                        <a class="L1" href="CreateTicket.html">
                            <h2>Create Ticket</h2>
                        </a>
                    </li>
                    <li>
                        <a class="L2" href="#">
                            <h2>View Tickets</h2>
                        </a>
                    </li>
                    <li>
                        <a class="L3" href="#">
                            <h2>Manage Team</h2>
                        </a>
                    </li>
                    <li>
                        <a class="L4" href="#">
                            <h2>Address Book</h2>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content">
                <div class="top-content">

                    <div class="main-content">
                        <div class="ticket-assigned">
                            <div id="table-scroll">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Tickets Assigned </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Ticket Description</th>
                                        </tr>
                                        <tr>
                                            <td>make for each line</td>
                                            <td>make for each line</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>
                                        <tr>
                                            <td>data</td>
                                            <td>data</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box4">
                            <div class="box4-1 urgent">
                                <div class="insideTop ">
                                    <h3> Urgent Tickets</h3>
                                </div>
                                <div class="insideBottom">
                                    <h1>#</h1>
                                </div>
                            </div>
                            <div class="box4-1 reg">
                                <div class="insideTop">
                                    <h3> Routine Tickets</h3>
                                </div>
                                <div class="insideBottom">
                                    <h1>#</h1>
                                </div>
                            </div>
                            <div class="box4-1 reg">
                                <div class="insideTop">
                                    <h3> New Tickets</h3>
                                </div>
                                <div class="insideBottom">
                                    <h1>#</h1>
                                </div>
                            </div>
                            <div class="box4-1 reg">
                                <div class="insideTop">
                                    <h3> Closed tickets</h3>
                                </div>
                                <div class="insideBottom">
                                    <h1>#</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="note-board">
                    <ul>
                        <li>
                            <a href="#">
                                <p contenteditable="true">Click & Edit Me</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p contenteditable="true">Really..Try</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p contenteditable="true">#No Cap</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p contenteditable="true">Having Fun Yet?!</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p contenteditable="true">Edit Me Already</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p contenteditable="true">LOL Thank you!</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</body>

</html>