@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/index.css" rel="stylesheet" />
    <title>TestIndex</title>
</head>
<body>
    <main>
        <section class="container">
            <div class="dashboard">
                <div class="logo">
                    <img src="/img/cropedlogo2.png" align="center" alt="">
                </div>
                <div class="links">
                    <div class="link">
                        <img src="/img/business-report.png" alt="" width="30px">
                        <a href="#">Dashboard</a>
                    </div>
                    <div class="link">
                        <img src="/img/ticket.png" alt="" align="center" width="30px">
                        <a href="#">Create Ticket</a>
                    </div>
                    <div class="link">
                        <img src="/img/doughnut.png" alt="" align="center" width="30px">
                        <a href="#">Department Analytics </a>
                    </div>
                    <div class="link">
                        <img src="/img/group.png" alt="" align="center" width="30px">
                        <a href="#">Manage Team</a>
                    </div>
                    <div class="link">
                        <img src="/img/file.png" alt="" align="center" width="30px">
                        <a href="#">Archives</a>
                    </div>
                    <div class="link">
                        <img src="/img/agenda.png" alt="" align="center" width="30px">
                        <a href="#">Contacts</a>
                    </div>
                    <div class="link">
                        <img src="/img/settings.png" alt="" align="center" width="30px">
                        <a href="#">Settings</a>
                    </div>
                </div>
            </div>
            <div class="display">
                <div class="header">
                    <div class="h">
                        <h1>Dashboard</h1>
                    </div>
                </div>
                <div class="TopRow">
                    <div class="box">
                        //TODO:[#]:Pending Completion Tickets
                    </div>
                    <div class="box">
                        //TODO:[#]:Notifications?
                    </div>
                    <div class="box">
                        //TODO:[#]:Pending Completion Tickets
                    </div>
                </div>
                <div class="MiddleRow">
                    <div class="box">
                        //TODO:[#]:User Assigned Tickets opened
                    </div>
                    <div class="box">
                        //TODO:[#]:Pending Urgent Tickets opened
                    </div>
                </div>
                <div class="BottomRow">
                    <div class="box">
                        //TODO:[INSERT bar graph/ API here?]
                    </div>
                    <div class="box">
                        //TODO:[INSERT pie chart of tickets opened/ pending closed/ ect]
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
