
@{
    Layout = "_InsecticDefault";
}

@section userName
{<a class="nav-link" href="#">@ViewBag.Name<span class="sr-only">(current)</span></a>}


@section image
{<img src="@ViewBag.Image"ref="avatar" width="40" height="40" class="rounded-circle avatar"/>}


