

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="js" href="/script.js">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/_layout.css">
    @RenderSection("LinkOne",false)
    @RenderSection("LinkTwo",false)

    <title>@RenderSection("Title",true)</title>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-dark  bg-dark navbar-expand-lg justify-content-between">
            <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbar-list-9"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100 order-3 order-lg-1" id="navbar-list-9">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index">CorkBoard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mx-lg-0 order-1 order-lg-2" href="#">
                Insectic
            </a>
            <div class="collapse navbar-collapse justify-content-end w-100 order-3" id="navbar-list-9">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="avatar" href="#">
                            <img src="/img/avatar.jpg" width="40" height="40" class="rounded-circle avatar">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="Index">Dashboard</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class=inner-wrapper>
            <div class="sidebar">

                <div class="heading fun-font">
                    <a href="#">
                        <h1>Cork Board</h1>
                    </a>
                </div>

                <div class="links fun-font">
                    <a class="note first" asp-action="CreateTicket">
                        <h2>Create Ticket</h2>
                    </a>
                    <a class="note second" href="#">
                        <h2>View Tickets</h2>
                    </a>
                    <a class="note third " href="#">
                        <h2>Manage Team</h2>
                    </a>
                    <a class="note fourth "asp-action="AddressBook">
                        <h2> Address Book</h2>
                    </a>
                </div>

            </div>

            <div class="main-content">

                <div class="Main-section">

                    @RenderBody()

                </div>
                <div class="note-board">
                    <ul class="sticky-notes">
                        <li class="one">
                            <a href="#">
                                <h2 contenteditable="true">Click &</h2>
                                <p contenteditable="true">Edit Me</p>
                            </a>
                        </li>
                        <li class="two">
                            <a href="#">
                                <h2 contenteditable="true">Title</h2>
                                <p contenteditable="true">Really..Try</p>
                            </a>
                        </li>
                        <li class="three">
                            <a href="#">
                                <h2 contenteditable="true">Title</h2>
                                <p contenteditable="true">#No Cap</p>
                            </a>
                        </li>
                        <li class="four">
                            <a href="#">
                                <h2 contenteditable="true">Having</h2>
                                <p contenteditable="true">Fun Yet?!</p>
                            </a>
                        </li>
                        <li class="five">
                            <a href="#">
                                <h2 contenteditable="true">Edit</h2>
                                <p contenteditable="true">Me Already</p>
                            </a>
                        </li>
                        <li class="six">
                            <a href="#">
                                <h2 contenteditable="true">About </h2>
                                <p contenteditable="true">Time!</p>
                            </a>
                        </li>
                        <li class="seven">
                            <a href="#">
                                <h2 contenteditable="true">Is It</h2>
                                <p contenteditable="true">Lunch yet</p>
                            </a>
                        </li>
                        <li class="eight">
                            <a href="#">
                                <h2 contenteditable="true">Bingo</h2>
                                <p contenteditable="true">Time!</p>
                            </a>
                        </li>
                        <li class="nine">
                            <a href="#">
                                <h2 contenteditable="true">This</h2>
                                <p contenteditable="true">sucks</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </main>
    </div>
</body>

</html>